# Ignorando testes:
/src/test/

#ignorando arquivos do intellij e git
.idea/
.git*
gitImages/

#ignorando sql
bd_maromo.sql

#ignorando build artifacts
target/

#todos os markdown possíveis
*.md

#Ignorando Maven wrapper
mvwn*
.mvn/