@tailwind base;
@tailwind components;
@tailwind utilities;

.gugi-regular {
  font-family: "Gugi", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.techs div{
  padding-bottom: 20px;
}